<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>upload file</h1>
<form action="#" th:action="@{/uploadOneFile}" th:object="${myUploadForm}" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>Description:</td>
            <td><input type="text" th:field="*{description}"/></td>
        </tr>
        <tr>
            <td>Upload files:</td>
            <td>
                (1): <input type="file" th:field="*{fileDatas}"/><br/>
                (2): <input type="file" th:field="*{fileDatas}"/><br/>
                (3): <input type="file" th:field="*{fileDatas}"/><br/>
                (4): <input type="file" th:field="*{fileDatas}"/>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="upload"></td>
        </tr>
    </table>
</form>
</body>
</html>